<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Thank you!</title>
    </head>
    <body>
        

        <form action="#" th:action="@{/main}" method = "post">
            <p><label for="Message">Message</label>: <input type="text" name="message" id="message"/></p>
            <p><input type="submit" value="Send!" /></p>
        </form>
        
        <ul>
    <li th:each="item : ${list}">
        <span th:text="${item}">hello world!</span>
    </li>
</ul>
    </body>
</html>
