<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Chat here</title>
    </head>
    <body>
        

        <form action="#" th:action="@{/main}" method = "post">
            <p><label for="Message">Message</label>: <input type="text" name="message" id="message"/></p>
            <p><input type="submit" value="Send!" /></p>
        </form>
        
        <ul id="list">
            <li th:each="item : ${list}" th:utext="${item}">user name</li>
        </ul>
        
        
        
    </body>
</html>
